{% extends 'jirani/base.html'%}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 left-side">
            </div>
            <div class="col-md-8 right-side">
                <div class="card">
                    <h1>Welcome to Jirani</h1>
                    <div class="text-center">
                        <a href="{%url 'jirani' %}" class="btn order-button">Join a Hood</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}