{% extends 'jirani/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="margin-top:7%;">
        <div class="row profile">
            <div class="col-md-4 mt-4">
                <img class="gallery-image" src="{{ user.profile.profile_pic.url }}"/>
                <div class="card-body">
                    <h5 class="card-title"><b>Name: </b>{{user.username}}</h5>
                    <div class="card-text">
                        <p><b>Bio:</b> {{user.bio}}</p>
                        <p><b>Email:</b> {{user.email}}</p>
                        <p><b>Hood:</b><a href="{% url 'hood' user.profile.neighborhood.id%}">{{user.profile.neighborhood.hoodname}} </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}