<div class="container-fluid px-0">
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-transparent navbar-light bg-steel">
            <a class="navbar-brand" href="#">JIRANI</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-right">
                    {% if user.is_authenticated%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">{{ user.username|title }} 
                           <img class="rounded-circle nav-img" src="{{ user.profile.profile_pic.url }}" width="22" height="22" class="rounded-circle" alt="..." style="width: 55px; height: 55px">
                        </a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-center" href="{% url 'profile' user.username %}">Profile</a>
                            <hr>
                            <a class="dropdown-item text-center" href="{% url 'edit' user.username  %}"> Edit profile</a>
                            <hr>
                            <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>
                        </div>
                    </li>
                    {% else %}
                    <a href="{% url 'login' %}" class="login btn btn-sm btn-primary"> Register/Login </a>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- ./ end of navbar -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 left-side">
                </div>
                <div class="col-md-8 right-side">
                    <div class="card">
                        <h1>Welcome to Jirani</h1>
                        <div class="text-center">
                            <button class="btn order-button">Join a Hood</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>