<div class="container-fluid px-0">
    <header>
        <div class="shape"></div>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-transparent">
            <a class="navbar-brand" href="#">JIRANI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Profile</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Hood</a> </li>
                </ul>
            </div>
        </nav>
        <!-- ./ end of navbar -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-side">
                </div>
                <div class="col-md-6 right-side">
                    <div class="card">
                        <h1>Welcome to Jirani</h1>
                        <div class="text-center">
                            <button class="btn order-button">Join a Hood</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>
</div>